---
name: Tests

on:
  pull_request:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        laravel: [^6, ^7, ^8, ^9]
        php: [7.4, 8.0, 8.1]

        exclude:
          - laravel: ^6
            php: 8.1
          - laravel: ^7
            php: 8.1
          - laravel: ^9
            php: 7.4

    name: PHP ${{ matrix.php }} / Laravel ${{ matrix.laravel }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.laravel }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-${{ matrix.php }}-${{ matrix.laravel }}-

      - name: Require Laravel Support package
        run: composer require "illuminate/support:${{ matrix.laravel }}" --no-interaction --no-update

      - name: Update dependencies
        run: composer update

      - name: Lint code
        run: |
          tlint
          rector --dry-run

      - name: Run Tests
        run: vendor/bin/phpunit
